{% extends "booktest/base.html" %}
{% block script1 %}
    <script>
    var aaa = JSON.parse('{{ datalist|safe }}');
  console.log(aaa)
  layui.use('tree', function(){
    var tree = layui.tree;
    //渲染

     var setData = [{
        'title': '江西' // 一级菜单
        , 'children': [{
            'title': '南昌' // 二级菜单
            , 'children': [{
                'title': '高新区' // 三级菜单
                       //…… // 以此类推，可无限层级
    }]
    }]
    }, {
        'title': '陕西' // 一级菜单
        , 'children': [{
            'title': '西安' // 二级菜单
        }]
    }]
    var inst1 = tree.render({
      elem: '#test1'  //绑定元素
      ,data: setData
    });
  });

  </script>

    {% endblock %}
<body>

{% block content %}
    <div id="test1"></div>
<ul class="layui-nav layui-nav-tree" lay-filter="test">
<!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
  <li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;">默认展开</a>
    <dl class="layui-nav-child">
      <dd><a href="javascript:;">选项1</a></dd>
      <dd><a href="javascript:;">选项2</a></dd>
      <dd><a href="">跳转</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item">
    <a href="javascript:;">解决方案</a>
    <dl class="layui-nav-child">
      <dd><a href="">移动模块</a></dd>
      <dd><a href="">后台模版</a></dd>
      <dd><a href="">电商平台</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item"><a href="">产品</a></li>
  <li class="layui-nav-item"><a href="">大数据</a></li>
</ul>

{% endblock %}

</body>